extends ../layout

block head
    link(rel="stylesheet" href="/assets/stylesheets/settings.css")
    script(src="https://unpkg.com/vue@3/dist/vue.global.js")
    script(src="/assets/javascripts/passwordValidation.js")
    script(src="/assets/javascripts/checkMime.js")
    if section === "connections"
        script(src="https://accounts.google.com/gsi/client", async)
        meta(name="nogra-oauth-google-redirect-uri", content=app.host + '/auth/google/callback')
        meta(name="nogra-oauth-google-clientid", content=oauth.googleClientId)
    script(src="/assets/javascripts/google-signin-fe-handler.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css")



block content
    .modal.fade#edit-avatar-modal(tabindex="-1" aria-hidden="true")
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h1.modal-title.fs-5 Crop your profile picture
                    button.btn-close(data-bs-dismiss="modal" aria-label="Close")
                .modal-body
                    .modal-alert-container
                    .cropper-container
                        img#edit-avatar-img
                .modal-footer
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                    button.btn.btn-primary#upload-avatar-btn(type="button") Save

    .container-fluid.d-flex.flex-column.min-vh-80#app
        main.flex-grow-1
            // Hero Section
            section.py-5.py-md-7.py-lg-8.py-xl-12
                .container.px-4.px-md-6
                    .row
                        .col-md-4.mb-3.settings-sidebar
                            .d-flex.align-items-center(style="max-width: 300px").mb-2
                                .avatar-wrapper.me-3
                                    img.avatar.object-fit-cover.rounded-circle(src=userStrings.avatarUrl alt="Profile Picture")
                                .text-container
                                    .fw-bold.fs-4.text-break.has-user-name=user.name
                                    .text-muted.text-break Joined #{user.createdAt.toLocaleDateString('en-GB', {day: 'numeric', month: 'long', year: 'numeric'})}
                            nav.nav.flex-column.nav-pills.nav-gap-y-1
                                a.nav-item.nav-link.has-icon.nav-link-faded(class=(section==='profile' ? 'active': ''), href='/settings/profile' data-toggle='tab')
                                    i.bi.bi-label.bi-person.h5
                                    | Profile
                                a.nav-item.nav-link.has-icon.nav-link-faded(class=(section==='account' ? 'active': ''), href='/settings/account' data-toggle='tab')
                                    i.bi.bi-label.bi-person-gear.h5
                                    | Account Settings
                                a.nav-item.nav-link.has-icon.nav-link-faded(class=(section === 'connections' ? 'active' : ''), href='/settings/connections' data-toggle='tab')
                                    i.bi.bi-label.bi-link-45deg
                                    | Connections
                        .col-md-8
                            .card
                                .card-body
                                    case section
                                        when "profile"
                                            #profile.tab-pane.active
                                                h5 Update Your Profile
                                                hr
                                                .alert-container
                                                    if error
                                                        .alert.alert-danger= error
                                                    if success
                                                        .alert.alert-success= success
                                                .profile-picture-section
                                                    p Change your profile picture
                                                    form()
                                                        input(type="file", id="avatar-edit-img-input" accept="image/png, image/jpeg" hidden)
                                                    .dropdown.position-relative.d-inline-block.mb-3
                                                        a#avatarMenu(href="#", data-bs-toggle="dropdown", aria-expanded="false")
                                                            img.avatar.object-fit-cover.rounded-circle(:src="avatarSrc", alt="User Avatar", style="max-width: 150px; max-height: 150px" data-initial-avatar=userStrings.avatarUrl)
                                                        button#avatar-edit-menu-btn(data-bs-toggle="dropdown", type="button" aria-expanded="false", style="position: absolute; bottom: 10px; left: 10px; background-color: white; border: 1px solid #ccc; width: 30px; height: 30px; border-radius: 50%; padding: 0; display: flex; align-items: center; justify-content: center; cursor: pointer; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); transition: background-color 0.3s ease;")
                                                            i.bi.bi-pencil-fill(style="font-size: 14px; color: #333;")
                                                        ul#avatar-dropdown.dropdown-menu(aria-labelledby="avatarMenu")
                                                            li
                                                                button.dropdown-item#post-avatar-btn(type="button")
                                                                    i.bi.bi-pencil.me-1
                                                                    | {{ isPlaceholderAvatar ? 'Add image': 'Change image'}}
                                                            li(v-show="!isPlaceholderAvatar")
                                                                button.dropdown-item#remove-avatar-btn(type="button")
                                                                    i.bi.bi-trash.me-1
                                                                    | Remove image



                                                form.profile-form(method="POST" action="/settings/profile")
                                                    .mb-3
                                                        label.form-label(for='name') Name
                                                        input.form-control(id="name" name="name" type='text' aria-describedby='nameInputHelp' placeholder=user.name value=user.name required="", maxlength=50)
                                                        small#nameInputHelp.form-text.text-muted
                                                            | People who receive your claim will see this name.
                                                    .d-flex.flex-column.flex-md-row.gap-2
                                                        button.btn.btn-primary(type='submit')
                                                            span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                                            | Update
                                        when "account"
                                            #account.tab-pane
                                                h5 Manage your account
                                                hr
                                                .alert-container
                                                    if error
                                                        .alert.alert-danger= error
                                                    if success
                                                        .alert.alert-success= success
                                                div.mb-3
                                                    h6 Change your email
                                                    form.email-form(method="POST", action="/settings/account/email")
                                                        .mb-3
                                                            input.form-control(type="email", name="email", id="email", placeholder="Email", required='', maxlength=255, value=user.email || '').rounded-3
                                                            .invalid-feedback Please enter a valid email.
                                                            #emailHelpBlock.form-text You will use this to sign in.
                                                        .d-flex.flex-column.flex-md-row.gap-2
                                                            button.btn.btn-primary(type='submit')
                                                                span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                                                | Update email
                                                div.mb-3
                                                    h6 Change your password
                                                    form.password-form(method="POST", action="/settings/account/password")
                                                        if !user.password
                                                            .alert.alert-warning.mb-3 You do not have a password set for your account yet. For your account's security, please set one now.
                                                        else
                                                            div.mb-3
                                                                label.form-label(for="old_password") Old password
                                                                input.mb-3.form-control(type="password", name="old_password", id="old_password", placeholder="Old password", required='')
                                                        .row
                                                            .col-12.col-lg-6.mb-3
                                                                label.form-label(for="password") New password
                                                                input.form-control(type="password", name="password", id="password", placeholder="New Password", required='', minlength=6, maxlength=20)
                                                                .invalid-feedback Password is required.
                                                                .password-requirements.text-lg-start(id="password-requirements-display", style='display: none;')
                                                                    .requirement.d-flex.align-items-center(id="length").text-danger
                                                                        i.bi.bi-x.me-2
                                                                        span At least 6 characters
                                                                    .requirement.d-flex.align-items-center(id="uppercase").text-danger
                                                                        i.bi.bi-x.me-2
                                                                        span At least one uppercase letter
                                                                    .requirement.d-flex.align-items-center(id="lowercase").text-danger
                                                                        i.bi.bi-x.me-2
                                                                        span At least one lowercase letter
                                                                    .requirement.d-flex.align-items-center(id="number").text-danger
                                                                        i.bi.bi-x.me-2
                                                                        span At least one number
                                                            .col-12.col-lg-6.mb-3
                                                                label.form-label(for="confirmpassword") Confirm new password
                                                                input.form-control(type="password", name="confirmpassword", id="confirmpassword", placeholder="Confirm New Password", required='', minlength=6, maxlength=20)
                                                                .invalid-feedback Passwords should match.
                                                                .password-requirements.text-lg-start(id="confirmpassword-requirements-display", style="display: none")
                                                                    .requirement.d-flex.align-items-center(id="passwordMatches", style='display: none').text-danger
                                                                        i.bi.bi-x.me-2
                                                                        span Passwords must match!
                                                        p.form-text(style="margin-top: -0.8rem;") You will be logged out of EasyClaim on other devices apart from this one.
                                                        .d-flex.flex-column.flex-md-row.gap-2
                                                            button.btn.btn-primary(type='submit')
                                                                span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                                                | Change password
                                                div
                                                    h6.text-danger Delete Account
                                                    p.text-muted.font-size-sm
                                                        i.bi.bi-exclamation-triangle
                                                        | This action is permanent.
                                                    a.btn.btn-danger(type='button' href="/settings/account/delete") Delete Account
                                        when "connections"
                                            #connections.tab-pane
                                                h5 Manage your connections
                                                hr
                                                .alert-container
                                                    if error
                                                        .alert.alert-danger= error
                                                    if success
                                                        .alert.alert-success= success
                                                    each alert in alerts.connections
                                                        .mb-3.alert.text-center(class="alert-"+alert.tpe, role="alert") #{alert.content}
                                                div
                                                    each client in possibleClients
                                                        - let foundConnectionsForClient = user.connections.filter((con) => con.service === client.id)
                                                        - let foundConnection = foundConnectionsForClient.length > 0 ? foundConnectionsForClient[0] : null
                                                        form.settings-oauthclient-disp(method='POST', action=`/auth/${client.id}/unlink`)
                                                            img.oauthclient-icon(src=client.icon, alt=client.name + ' icon')
                                                            .oauthclient-details
                                                                .oauthclient-title #{client.name}
                                                                .oauthclient-subtitle #{foundConnection ? foundConnection.email : `Log in to EasyClaim using your ${client.name} account.`}
                                                            if client.enabled
                                                                if foundConnection
                                                                    button.btn.btn-danger.oauthclient-btn(type="submit") Unlink
                                                                else
                                                                    if client.id === "google"
                                                                        .google-signin-container.oauthclient-btn
                                                                    else
                                                                        button.btn.btn-primary.oauthclient-btn Connect
                                                            else
                                                                button.btn.btn-secondary.disabled.oauthclient-btn(disabled="") Unavailable




        // Footer Section
        //footer.bg-light.py-4
        //    .container
        //        .row
        //            .col-sm-6.col-md-4.col-lg-2.mb-3
        //                h5.fw-bold #{app.name}
        //                ul.list-unstyled
        //                    li: a.text-muted.text-decoration-none(href="/expenses") Expenses
        //                    li: a.text-muted.text-decoration-none(href="/claims") Claims
        //            .col-sm-6.col-md-4.col-lg-2.mb-3
        //                h5.fw-bold Support
        //                ul.list-unstyled
        //                    li: a.text-muted.text-decoration-none(href="#") Contact Us (unavailable)
        //            .col-sm-6.col-md-4.col-lg-2.mb-3
        //                h5.fw-bold Legal
        //                ul.list-unstyled
        //                    li: a.text-muted.text-decoration-none(href="https://nogra.app/legal/privacy/") Privacy Policy
        //                    li: a.text-muted.text-decoration-none(href="https://nogra.app/legal/terms/") Terms of Service
    script(src="/assets/javascripts/settings.js")