extends layout

block head
    script(src="https://unpkg.com/currency.js@~2.0.0/dist/currency.min.js")
    script(src="/assets/javascripts/data-iso.js")
    script(src="https://unpkg.com/vue@3/dist/vue.global.js")
    link(rel="stylesheet", href="/assets/stylesheets/claims.css")

block content
    #app
        .modal.fade.modal-lg#viewClaimModal(tabindex='-1')
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title View Claim
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        iframe#viewClaimIframe(src="", loading="lazy", referrerpolicy="no-referrer", sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox", allow="geolocation 'none'; microphone 'none'; camera 'none';")
        .modal.fade.modal-lg#shareClaimModal(tabindex='-1')
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title Share this claim
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        label.form-label(for="message-language") Message Language
                        select.mb-2.form-select(aria-label='Message Language', name='message-language', id='message-language')
                            option(value="en") 🇬🇧 English
                            option(value="zh-CN") 🇨🇳 简体中文 - Simplified Chinese
                            option(value="my") 🇲🇾 Bahasa Melayu - Malay
                            option(value="ja") 🇯🇵 日本語 - Japanese
                            option(value="de") 🇩🇪 Deutsch - German
                            option(value="fr") 🇫🇷 Français - French
                            option(value="es") 🇪🇸 Español - Spanish
                        .alert.alert-danger.text-center#missing-language-alert(style="display: none")
                            strong#selected-missing-language
                            span #{' '}is not available. Defaulting to English.
                        div(style="border-radius: 1rem; border: 1px solid #fff")
                            .imessage
                                p.from-me#imessage-msg

                        .d-flex.flex-wrap
                            .social-share-btn.whatsapp#whatsapp-share
                                svg(fill="currentColor", viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M26.576 5.363c-2.69-2.69-6.406-4.354-10.511-4.354-8.209 0-14.865 6.655-14.865 14.865 0 2.732 0.737 5.291 2.022 7.491l-0.038-0.070-2.109 7.702 7.879-2.067c2.051 1.139 4.498 1.809 7.102 1.809h0.006c8.209-0.003 14.862-6.659 14.862-14.868 0-4.103-1.662-7.817-4.349-10.507l0 0zM16.062 28.228h-0.005c-0 0-0.001 0-0.001 0-2.319 0-4.489-0.64-6.342-1.753l0.056 0.031-0.451-0.267-4.675 1.227 1.247-4.559-0.294-0.467c-1.185-1.862-1.889-4.131-1.889-6.565 0-6.822 5.531-12.353 12.353-12.353s12.353 5.531 12.353 12.353c0 6.822-5.53 12.353-12.353 12.353h-0zM22.838 18.977c-0.371-0.186-2.197-1.083-2.537-1.208-0.341-0.124-0.589-0.185-0.837 0.187-0.246 0.371-0.958 1.207-1.175 1.455-0.216 0.249-0.434 0.279-0.805 0.094-1.15-0.466-2.138-1.087-2.997-1.852l0.010 0.009c-0.799-0.74-1.484-1.587-2.037-2.521l-0.028-0.052c-0.216-0.371-0.023-0.572 0.162-0.757 0.167-0.166 0.372-0.434 0.557-0.65 0.146-0.179 0.271-0.384 0.366-0.604l0.006-0.017c0.043-0.087 0.068-0.188 0.068-0.296 0-0.131-0.037-0.253-0.101-0.357l0.002 0.003c-0.094-0.186-0.836-2.014-1.145-2.758-0.302-0.724-0.609-0.625-0.836-0.637-0.216-0.010-0.464-0.012-0.712-0.012-0.395 0.010-0.746 0.188-0.988 0.463l-0.001 0.002c-0.802 0.761-1.3 1.834-1.3 3.023 0 0.026 0 0.053 0.001 0.079l-0-0.004c0.131 1.467 0.681 2.784 1.527 3.857l-0.012-0.015c1.604 2.379 3.742 4.282 6.251 5.564l0.094 0.043c0.548 0.248 1.25 0.513 1.968 0.74l0.149 0.041c0.442 0.14 0.951 0.221 1.479 0.221 0.303 0 0.601-0.027 0.889-0.078l-0.031 0.004c1.069-0.223 1.956-0.868 2.497-1.749l0.009-0.017c0.165-0.366 0.261-0.793 0.261-1.242 0-0.185-0.016-0.366-0.047-0.542l0.003 0.019c-0.092-0.155-0.34-0.247-0.712-0.434z")

                            .social-share-btn.telegram#telegram-share
                                svg(fill="currentColor", viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg")
                                    path(stroke="currentColor" stroke-width="8" d="M23.073 88.132s65.458-26.782 88.16-36.212c8.702-3.772 38.215-15.843 38.215-15.843s13.621-5.28 12.486 7.544c-.379 5.281-3.406 23.764-6.433 43.756-4.54 28.291-9.459 59.221-9.459 59.221s-.756 8.676-7.188 10.185c-6.433 1.509-17.027-5.281-18.919-6.79-1.513-1.132-28.377-18.106-38.214-26.404-2.649-2.263-5.676-6.79.378-12.071 13.621-12.447 29.891-27.913 39.728-37.72 4.54-4.527 9.081-15.089-9.837-2.264-26.864 18.483-53.35 35.835-53.35 35.835s-6.053 3.772-17.404.377c-11.351-3.395-24.594-7.921-24.594-7.921s-9.08-5.659 6.433-11.693Z")
                            .social-share-btn.fb-messenger#messenger-share
                                svg(viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg" fill="none")
                                    g(stroke="#ffffff" stroke-linejoin="round" stroke-width="12" clip-path="url(#a)")
                                        path(d="M148.326 43.674c-28.899-28.899-75.753-28.899-104.652 0-25.014 25.014-28.377 63.481-10.087 92.112l-4.336 22.272c-.542 2.784 1.907 5.233 4.691 4.691l22.272-4.336c28.631 18.29 67.098 14.927 92.112-10.087 28.899-28.899 28.899-75.753 0-104.652Z")
                                        path(stroke-linecap="round" d="m131.355 83.272-24.041 24.042-21.92-21.92-24.042 24.041")
                            .social-share-btn.skype#skype-share
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M3 6.5C3 4.567 4.567 3 6.5 3C7.46158 3 8.33096 3.38646 8.96457 4.01487L9.37233 4.41928L9.92712 4.27091C10.5871 4.0944 11.2818 4 12 4C16.4183 4 20 7.58172 20 12C20 12.7182 19.9056 13.4129 19.7291 14.0729L19.5807 14.6277L19.9851 15.0354C20.6135 15.669 21 16.5384 21 17.5C21 19.433 19.433 21 17.5 21C16.5384 21 15.669 20.6135 15.0354 19.9851L14.6277 19.5807L14.0729 19.7291C13.4129 19.9056 12.7182 20 12 20C7.58172 20 4 16.4183 4 12C4 11.2818 4.0944 10.5871 4.27091 9.92712L4.41928 9.37233L4.01487 8.96457C3.38646 8.33096 3 7.46158 3 6.5ZM6.5 1C3.46243 1 1 3.46243 1 6.5C1 7.80334 1.45433 9.00201 2.21174 9.94417C2.07287 10.6084 2 11.2962 2 12C2 17.5228 6.47715 22 12 22C12.7038 22 13.3916 21.9271 14.0558 21.7883C14.998 22.5457 16.1967 23 17.5 23C20.5376 23 23 20.5376 23 17.5C23 16.1967 22.5457 14.998 21.7883 14.0558C21.9271 13.3916 22 12.7038 22 12C22 6.47715 17.5228 2 12 2C11.2962 2 10.6084 2.07287 9.94417 2.21174C9.00201 1.45433 7.80334 1 6.5 1ZM10.642 9.33022C10.7746 9.07725 11.2285 8.75 11.9325 8.75C13.1389 8.75 13.8044 9.22213 14.1104 9.45568C14.5494 9.79073 15.177 9.70642 15.512 9.26737C15.8471 8.82833 15.7628 8.2008 15.3237 7.86575C14.8342 7.49215 13.7474 6.74999 11.9325 6.75C10.6635 6.75 9.42503 7.34398 8.82423 8.49019C8.39003 9.31856 8.46034 10.2225 8.90141 10.9562C9.32973 11.6686 10.0731 12.1777 10.949 12.4136L12.5026 12.8321C13.101 12.9932 14.0099 13.5493 13.6826 14.2985C13.4853 14.7503 12.7859 15.25 11.7558 15.25C10.8654 15.25 10.0797 15.0961 9.35671 14.5443C8.91766 14.2093 8.29014 14.2936 7.95509 14.7326C7.62004 15.1717 7.70435 15.7992 8.1434 16.1342C9.11208 16.8735 10.1205 17.25 11.5347 17.25C13.1138 17.25 14.8369 16.6524 15.5154 15.0991C15.9148 14.1848 15.7831 13.2264 15.2841 12.4568C14.5163 11.2725 13.1937 10.9303 11.9131 10.5989C11.7643 10.5604 11.6159 10.522 11.4691 10.4824C10.9431 10.3407 10.3281 9.92911 10.642 9.33022Z" fill="currentColor")
                            .social-share-btn.viber#viber-share
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.511 52.511" xml:space="preserve")
                                    g
                                        g
                                            path(d="M31.256,0H21.254C10.778,0,2.255,8.521,2.255,18.995v9.01c0,7.8,4.793,14.81,12,17.665v5.841    c0,0.396,0.233,0.754,0.595,0.914c0.13,0.058,0.268,0.086,0.405,0.086c0.243,0,0.484-0.089,0.671-0.259L21.725,47h9.531    c10.476,0,18.999-8.521,18.999-18.995v-9.01C50.255,8.521,41.732,0,31.256,0z M48.255,28.005C48.255,37.376,40.63,45,31.256,45    h-9.917c-0.248,0-0.487,0.092-0.671,0.259l-4.413,3.997v-4.279c0-0.424-0.267-0.802-0.667-0.942    C8.81,41.638,4.255,35.196,4.255,28.005v-9.01C4.255,9.624,11.881,2,21.254,2h10.002c9.374,0,16.999,7.624,16.999,16.995V28.005z", fill="currentColor")
                                            path(d="M39.471,30.493l-6.146-3.992c-0.672-0.437-1.472-0.585-2.255-0.423c-0.784,0.165-1.458,0.628-1.895,1.303l-0.289,0.444    c-2.66-0.879-5.593-2.002-7.349-7.085l0.727-0.632h0c1.248-1.085,1.379-2.983,0.294-4.233l-4.808-5.531    c-0.362-0.417-0.994-0.46-1.411-0.099l-3.019,2.624c-2.648,2.302-1.411,5.707-1.004,6.826c0.018,0.05,0.04,0.098,0.066,0.145    c0.105,0.188,2.612,4.662,6.661,8.786c4.065,4.141,11.404,7.965,11.629,8.076c0.838,0.544,1.781,0.805,2.714,0.805    c1.638,0,3.244-0.803,4.202-2.275l2.178-3.354C40.066,31.413,39.934,30.794,39.471,30.493z M35.91,34.142    c-0.901,1.388-2.763,1.782-4.233,0.834c-0.073-0.038-7.364-3.835-11.207-7.75c-3.592-3.659-5.977-7.724-6.302-8.291    c-0.792-2.221-0.652-3.586,0.464-4.556l2.265-1.968l4.152,4.776c0.369,0.424,0.326,1.044-0.096,1.411l-1.227,1.066    c-0.299,0.26-0.417,0.671-0.3,1.049c2.092,6.798,6.16,8.133,9.13,9.108l0.433,0.143c0.433,0.146,0.907-0.021,1.155-0.403    l0.709-1.092c0.146-0.226,0.37-0.379,0.63-0.434c0.261-0.056,0.527-0.004,0.753,0.143l5.308,3.447L35.91,34.142z", fill="currentColor")
                                            path(d="M28.538,16.247c-0.532-0.153-1.085,0.156-1.236,0.688c-0.151,0.531,0.157,1.084,0.688,1.235    c1.49,0.424,2.677,1.613,3.097,3.104c0.124,0.44,0.525,0.729,0.962,0.729c0.09,0,0.181-0.012,0.272-0.037    c0.531-0.15,0.841-0.702,0.691-1.234C32.405,18.578,30.69,16.859,28.538,16.247z", fill="currentColor")
                                            path(d="M36.148,22.219c0.09,0,0.181-0.012,0.272-0.037c0.532-0.15,0.841-0.703,0.691-1.234c-1.18-4.183-4.509-7.519-8.689-8.709    c-0.531-0.153-1.084,0.158-1.235,0.689c-0.151,0.531,0.157,1.084,0.688,1.235c3.517,1,6.318,3.809,7.311,7.328    C35.311,21.931,35.711,22.219,36.148,22.219z", fill="currentColor")
                                            path(d="M27.991,7.582c-0.532-0.153-1.085,0.156-1.236,0.689c-0.151,0.531,0.157,1.084,0.688,1.235    c5.959,1.695,10.706,6.453,12.388,12.416c0.124,0.44,0.525,0.729,0.962,0.729c0.09,0,0.181-0.012,0.272-0.037    c0.531-0.15,0.841-0.703,0.691-1.234C39.887,14.753,34.613,9.467,27.991,7.582z", fill="currentColor")
                            .social-share-btn.line#line-share
                                svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 48 48")
                                    path(d="M 23.007812 5 C 11.600129 5 2.0058594 12.5508 2.0058594 22.236328 C 2.0058594 30.874232 9.6073525 37.884555 19.505859 39.232422 C 19.733605 39.281857 19.977406 39.361175 20.132812 39.429688 C 20.118043 39.515147 20.153199 39.911316 20.105469 40.273438 C 20.105469 40.273438 20.105469 40.275391 20.105469 40.275391 C 20.092619 40.352451 19.881057 41.615404 19.835938 41.878906 L 19.837891 41.876953 C 19.762771 42.309977 19.521995 43.033546 20.193359 44.048828 C 20.529042 44.556469 21.285396 44.987587 21.962891 45 C 22.640385 45.01241 23.208997 44.789728 23.832031 44.447266 C 28.380052 41.946356 33.321386 39.124288 37.214844 35.580078 C 41.108302 32.035869 44.005859 27.639151 44.005859 22.236328 C 44.005809 12.551142 34.415496 5 23.007812 5 z M 23.007812 8 C 33.10213 8 41.005859 14.567511 41.005859 22.236328 C 41.005859 26.578505 38.734856 30.139288 35.195312 33.361328 C 31.801217 36.450969 27.286874 39.09321 22.943359 41.494141 C 23.000899 41.149653 23.072266 40.71875 23.072266 40.71875 L 23.076172 40.695312 L 23.080078 40.671875 C 23.155098 40.109193 23.364983 39.264995 22.923828 38.162109 L 22.921875 38.160156 L 22.921875 38.158203 C 22.588283 37.333404 21.970623 36.974887 21.476562 36.738281 C 20.982502 36.501675 20.514934 36.37997 20.126953 36.296875 L 20.068359 36.285156 L 20.007812 36.277344 C 11.219504 35.121092 5.0058594 29.123568 5.0058594 22.236328 C 5.0058594 14.567856 12.913496 8 23.007812 8 z M 18.333984 17.136719 C 17.769984 17.136719 17.310547 17.592344 17.310547 18.152344 L 17.310547 25.845703 C 17.310547 26.406703 17.768984 26.861328 18.333984 26.861328 C 18.897984 26.861328 19.357422 26.405703 19.357422 25.845703 L 19.357422 18.152344 C 19.357422 17.592344 18.898984 17.136719 18.333984 17.136719 z M 21.853516 17.136719 C 21.743516 17.136719 21.633344 17.154453 21.527344 17.189453 C 21.109344 17.328453 20.828125 17.715344 20.828125 18.152344 L 20.828125 25.845703 C 20.828125 26.406703 21.288516 26.861328 21.853516 26.861328 C 22.419516 26.861328 22.878906 26.405703 22.878906 25.845703 L 22.878906 21.087891 L 26.853516 26.455078 C 27.045516 26.709078 27.351875 26.861328 27.671875 26.861328 C 27.780875 26.861328 27.890094 26.843594 27.996094 26.808594 C 28.416094 26.671594 28.697266 26.284703 28.697266 25.845703 L 28.697266 18.150391 C 28.697266 17.590391 28.238828 17.136719 27.673828 17.136719 C 27.108828 17.136719 26.648438 17.590391 26.648438 18.150391 L 26.648438 22.912109 L 22.671875 17.542969 C 22.479875 17.288969 22.172516 17.136719 21.853516 17.136719 z M 11.466797 17.138672 C 10.902797 17.138672 10.443359 17.592344 10.443359 18.152344 L 10.443359 25.847656 C 10.443359 26.408656 10.901797 26.863281 11.466797 26.863281 L 15.345703 26.863281 C 15.910703 26.863281 16.368187 26.405703 16.367188 25.845703 C 16.367188 25.285703 15.910703 24.830078 15.345703 24.830078 L 12.488281 24.830078 L 12.488281 18.152344 C 12.488281 17.592344 12.031797 17.138672 11.466797 17.138672 z M 31.095703 17.138672 C 30.531703 17.138672 30.072266 17.594297 30.072266 18.154297 L 30.072266 18.15625 L 30.072266 21.998047 L 30.072266 22 L 30.072266 22.001953 L 30.072266 25.845703 C 30.072266 26.406703 30.532703 26.861328 31.095703 26.861328 L 34.974609 26.861328 C 35.539609 26.861328 36 26.405703 36 25.845703 C 36 25.285703 35.539609 24.830078 34.974609 24.830078 L 32.119141 24.830078 L 32.119141 23.013672 L 34.974609 23.013672 C 35.540609 23.013672 36 22.558047 36 21.998047 C 36 21.437047 35.539609 20.982422 34.974609 20.982422 L 34.974609 20.986328 L 32.119141 20.986328 L 32.119141 19.169922 L 34.974609 19.169922 C 35.540609 19.169922 36 18.714297 36 18.154297 C 36 17.594297 35.539609 17.138672 34.974609 17.138672 L 31.095703 17.138672 z", fill="currentColor")
                            .social-share-btn.wechat#wechat-share
                                svg(viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
                                    g(fill="none")
                                        path(d="m11.1193503 8.98884181c0 .97457627-.7909605 1.76553669-1.76553674 1.76553669-.97457627 0-1.76553672-.79096042-1.76553672-1.76553669s.79096045-1.76553673 1.76553672-1.76553673c.97457624 0 1.76553674.79096046 1.76553674 1.76553673zm7.1327683 1.76553669c.9745763 0 1.7655368-.79096042 1.7655368-1.76553669s-.7909605-1.76553673-1.7655368-1.76553673c-.9745762 0-1.7655367.79096046-1.7655367 1.76553673s.7909605 1.76553669 1.7655367 1.76553669zm10.6603108 17.1327684.3990113 3.8665254-3.5310735-1.8891243c-1.3629943.5649718-2.8813559.8792373-4.4879943.8792373-4.9823447 0-9.1596045-3.0367232-10.289548-7.1292373-.960452-.1694915-1.88559326-.4272599-2.76129948-.7591808l-4.00423728 2.1433616.42725988-4.1172316c-2.83898305-2.1680791-4.63276836-5.3319209-4.63276836-8.8524012 0-6.53248583 6.16525424-11.829096 13.77118644-11.829096s13.7711864 5.29661017 13.7711864 11.829096c0 .5861582-.049435 1.1617232-.144774 1.726695 2.7012712 1.6949152 4.4597458 4.4809322 4.4597458 7.6306497 0 2.5247175-1.1334746 4.8199152-2.9766949 6.5007062zm-20.0423729-6.684322c.60028248.2259887 1.2146893.4096045 1.8396893.5508474-.0070622-.1235876-.0105933-.2436441-.0105933-.3672316 0-5.1694915 4.7422317-9.3573447 10.5932204-9.3573447 1.5960452 0 3.1108757.3107345 4.4668079.8721752.0282486-.286017.0459039-.5790961.0459039-.8721752 0-5.54731634-5.384887-10.06355928-12.0056497-10.06355928-6.62076268 0-12.00564969 4.51624294-12.00564969 10.06355928 0 1.4265537.34957627 2.8072034 1.04166667 4.1031074.68149717 1.2747175 1.65607344 2.4011299 2.8990113 3.3474576l.78742938.6002825-.10240113.9851695-.08474577.8086158 1.06991526-.5720339.70974576-.3778248zm18.3545198-7.5706215c.0670904.0388418.1341808.0812147.2012712.1235876-.0670904-.0423729-.1341808-.0847458-.2012712-.1235876zm-.2012712-.1200565c.0321428.03125.0678571.06875.1.1-.0357143-.03125-.0678572-.06875-.1-.1zm-.2048023-.1129944c.0333334.03.0666667.07.1.1-.0333333-.03-.0666666-.07-.1-.1zm-.2048022-.0965254c.0363636.02.0636363.04.1.06-.0363637-.02-.0727273-.04-.1-.06zm-.1953955-.0926977.06.03zm-.1989266-.0924012c.01 0 .01.01.02.01 0-.01-.01-.01-.02-.01zm3.9042091 8.2689125c0-4.1878531-3.9583334-7.5918079-8.8276836-7.5918079-4.8693503 0-8.8276837 3.4039548-8.8276837 7.5918079s3.9583334 7.5918079 8.8276837 7.5918079c1.3347457 0 2.6165254-.2507062 3.8100282-.7450565l.7733051-.3177966.7379943.3954802.5967515.3213277-.0564972-.5579096-.0918079-.8862994.6567796-.6002825c1.5466102-1.4194916 2.40113-3.266243 2.40113-5.2012712zm-12.2175142-3.3050848c-.7803672 0-1.4124293.6320622-1.4124293 1.4124294s.6320621 1.4124294 1.4124293 1.4124294c.7803673 0 1.4124294-.6320622 1.4124294-1.4124294s-.6320621-1.4124294-1.4124294-1.4124294zm6.7796611 0c-.7803673 0-1.4124294.6320622-1.4124294 1.4124294s.6320621 1.4124294 1.4124294 1.4124294c.7803672 0 1.4124293-.6320622 1.4124293-1.4124294s-.6320621-1.4124294-1.4124293-1.4124294z" fill="currentColor" fill-rule="nonzero")
                            .social-share-btn.twitter#twitter-share
                                svg(xmlns="http://www.w3.org/2000/svg" class="bi bi-twitter-x" viewBox="-1 -1 17 17")
                                    path(d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" fill="currentColor")
                            .social-share-btn.signal#signal-share
                                svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 122.88 122.89" xml:space="preserve")
                                    g
                                        path(class="st0" d="M61.44,11.52C33.87,11.53,11.53,33.9,11.55,61.46C11.55,70.86,14.2,80.05,19.2,88l-4.8,20.48l20.48-4.8 c23.33,14.69,54.15,7.69,68.84-15.64c14.69-23.33,7.69-54.15-15.64-68.84C80.11,14.17,70.87,11.51,61.44,11.52L61.44,11.52z M32.93,109.34l-8.25,1.92l1.31,5.61l6.07-1.41c4.6,2.51,9.51,4.41,14.6,5.66l1.38-5.59c-5.3-1.32-10.38-3.42-15.07-6.23 L32.93,109.34L32.93,109.34z M6.05,96.86l5.61,1.3l1.92-8.25c-2.8-4.7-4.89-9.8-6.19-15.11l-5.59,1.38c1.25,5.09,3.16,10,5.66,14.6 L6.05,96.86L6.05,96.86z M19.57,112.42L7.68,115.2l2.77-11.89l-5.61-1.31l-2.77,11.89c-0.73,3.1,1.2,6.2,4.29,6.92 c0.86,0.2,1.76,0.2,2.63,0l11.88-2.73L19.57,112.42L19.57,112.42z M53.1,6.38c5.53-0.83,11.15-0.83,16.68,0l0.86-5.69 c-6.1-0.92-12.31-0.92-18.41,0L53.1,6.38L53.1,6.38z M114.05,29.68l-4.93,2.96c2.89,4.79,5.04,9.99,6.38,15.42l5.59-1.38 C119.61,40.69,117.24,34.96,114.05,29.68L114.05,29.68z M16.62,28.42c3.32-4.5,7.3-8.48,11.8-11.8l-3.46-4.64 c-4.95,3.65-9.33,8.03-12.98,12.98L16.62,28.42L16.62,28.42z M94.46,16.62c4.5,3.32,8.48,7.3,11.8,11.8l4.64-3.46 c-3.65-4.95-8.03-9.33-12.98-12.98L94.46,16.62L94.46,16.62z M106.26,94.47c-3.32,4.5-7.3,8.47-11.8,11.79l3.42,4.64 c4.96-3.65,9.35-8.03,13.02-12.98L106.26,94.47L106.26,94.47z M69.78,116.5c-5.53,0.83-11.15,0.83-16.68,0l-0.86,5.7 c6.1,0.92,12.31,0.92,18.41,0L69.78,116.5L69.78,116.5z M121.08,76.19l-5.59-1.38c-1.34,5.44-3.49,10.64-6.38,15.44l4.93,2.97 C117.24,87.93,119.61,82.18,121.08,76.19L121.08,76.19z M117.12,61.44c0,2.79-0.21,5.58-0.63,8.34l5.69,0.87 c0.92-6.1,0.92-12.31,0-18.41l-5.69,0.86C116.91,55.86,117.12,58.65,117.12,61.44L117.12,61.44z M93.2,114.05l-2.96-4.93 c-4.79,2.89-9.99,5.04-15.42,6.38l1.38,5.59C82.19,119.61,87.92,117.24,93.2,114.05L93.2,114.05z M5.76,61.44 c0-2.79,0.21-5.58,0.62-8.34l-5.69-0.86c-0.92,6.1-0.92,12.31,0,18.41l5.69-0.87C5.97,67.02,5.76,64.23,5.76,61.44L5.76,61.44z M8.83,29.68C5.64,34.97,3.27,40.7,1.79,46.69l5.59,1.38c1.34-5.44,3.49-10.64,6.38-15.44L8.83,29.68L8.83,29.68z M76.18,1.79 L74.8,7.38c5.44,1.34,10.64,3.49,15.44,6.38l2.97-4.93C87.93,5.64,82.18,3.27,76.18,1.79L76.18,1.79z M46.69,1.79l1.38,5.59 c-5.44,1.34-10.64,3.49-15.44,6.38l-2.96-4.93C34.97,5.64,40.7,3.27,46.69,1.79L46.69,1.79z", fill="currentColor")
                            .social-share-btn.instagram#instagram-share
                                svg(xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16")
                                    path(d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334")
                            .social-share-btn.others#others-share
                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16")
                                    path(d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3")
                        p.my-2
                            | Tap#{' '}
                            span.badge.text-bg-secondary
                                i.bi.bi-three-dots
                            | #{' '}to see more options for sharing this claim.
                        .copy-paste-section
                            .input-group
                                input(type="text", class="form-control", aria-label="Share claim link", aria-describedby="copy-link-btn",id="claim-share-link-input", readonly, value="https://abcdefg.com")
                                button.btn.btn-outline-secondary(type="button", id="copy-link-btn")
                                    i.bi.bi-copy
                                    | #{' '}Copy link
        .modal.fade.modal-lg.createClaimModal#editClaimModal(tabindex='-1')
            .modal-dialog
                .modal-content
                    form#editClaimForm()
                        .modal-header
                            h5.modal-title Edit Claim
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            .row
                                div
                                    .alert.alert-danger.text-center#editClaimAlert(style="display: none", role='alert')
                            .row.mb-5
                                label(for='claim_offset_amt', class='form-label') Offset claim?
                                .input-group.input-group-lg
                                    span.input-group-text - $
                                    input(type='number', class='form-control', id='claim_offset_amt', name='claim_offset_amt', aria-label='Claim Offset Amount', step='0.01', placeholder='0.00', min='0.00', value='0.00', v-model.number="offset")

                            .row.mb-3.claim-expense-list-container#actualClaimExpenseList
                            .row.mb-3.claim-expense-list-container
                                .claim-expense-item-right
                                    div(v-if="offset <= 0") Total
                                    div(v-else="") Subtotal
                                    .claim-expense-amount.claim-total $0.00
                                .claim-expense-item-right(:class="{'d-flex': offset > 0}", v-show="offset > 0")
                                    div Claim Offset
                                    .claim-expense-amount
                                        span.me-2 -
                                        span.offset-amt $0.00
                                .claim-expense-item-right(:class="{'d-flex': offset > 0}", v-show="offset > 0")
                                    div Grand Total
                                    .claim-expense-amount.claim-grandtotal $0.00

                            .d-grid.gap-2.d-md-flex.justify-content-md-end.mt-2
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                                button.btn.btn-primary(type='submit')
                                    span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                    | Submit
        section.py-3
            .container.py-5
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-4
                    div
                        h1.fw-medium Claims
                        .row.mt-2
                            .col-sm-6
                                .fw-medium Pending
                                    .fw-medium.fs-2 #{formatMoney(pendingClaimAmt)}

                            .col-sm-6
                                .fw-medium Completed
                                    .fw-medium.fs-2 #{formatMoney(completedClaimAmt)}
                p.mt-3 You can submit a claim through the Expenses page.
                .container.mt-5.claim-container
                    if claims.length < 1
                        h1.fw-bold.text-center You haven't made any claims.
                        p.mt-2.text-center Select multiple expenses to create one.
                    else
                        .row
                            for claim in claims
                                - let expenses_short = claim.expenses.slice(0, 5)
                                .col-sm-12.col-lg-6.col-xl-4.mb-4(id=`claim-${claim.id}`)
                                    .card.expense-card.p-2
                                        .d-flex.flex-column.expense-claim-card-contents
                                            .row.m-2
                                                .col.d-flex.justify-content-between
                                                    .text-start.card-identifier.flex-grow-1
                                                        span.card-created-date.expense-date(data-iso=claim.submittedAt.toISOString()) #{claim.submittedAt.toUTCString()}
                                                    .text-end.card-amount.expense-amount(data-money=formatMoney(claim.totalAmountAfterOffset, true)) #{formatMoney(claim.totalAmountAfterOffset)}
                                            .row.m-2
                                                .col-6
                                                    .card-entity-name Items
                                                    .card-entity-value #{claim.expenses.length}
                                                .col-6
                                                    .card-entity-name Status
                                                    if claim.status === "PENDING"
                                                        .claim-status-badge.claim-pending.rounded-pill Pending
                                                    else if claim.status === "COMPLETE"
                                                        .claim-status-badge.claim-completed.rounded-pill Completed
                                                    else
                                                        .claim-status-badge.claim-unknown.rounded-pill Unknown
                                            .row.m-2.claim-expense-list-container
                                                each expense in expenses_short
                                                    .claim-expense-item
                                                        .claim-expense-properties
                                                            .claim-expense-category #{expense.category.name}
                                                            if expense.description
                                                                .claim-expense-description #{expense.description}
                                                        .claim-expense-amount #{formatMoney(expense.amount)}
                                                if claim.expenses.length > 5
                                                    .plus-one-more +#{claim.expenses.length - 5} more...
                                                if claim.claimOffset > 0
                                                    .claim-expense-item.mt-2
                                                        .claim-expense-properties
                                                            .claim-expense-category Claim Offset
                                                        .claim-expense-amount - #{formatMoney(claim.claimOffset)}



                                            .row.m-2
                                                .d-flex.gap-2
                                                    button.btn.btn-outline-primary.rounded-pill.action-button(data-action='edit', data-claim-id=claim.id)
                                                        i.bi.bi-pencil-fill
                                                    button.btn.btn-outline-primary.rounded-pill.action-button(data-action="view", data-claim-id=claim.shareId)
                                                        i.bi.bi-eye
                                                    button.btn.btn-outline-danger.rounded-pill.action-button(data-action="cancel", data-claim-id=claim.id)
                                                        i.bi.bi-x-circle
                                                    button.btn.btn-outline-info.rounded-pill.action-button(data-action="share", data-claim-id=claim.id)
                                                        i.bi-share
    script(src="/assets/javascripts/claims.js")