extends layout

block head
    script(src="https://unpkg.com/currency.js@~2.0.0/dist/currency.min.js")
    script(src="/assets/javascripts/data-iso.js")

block content
    section.py-3
        .container.py-5
            .d-flex.flex-column.flex-md-row.align-items-center.justify-content-between.mb-4
                div
                    h1.fw-medium Claims
                    .row.mt-2
                        .col-sm-6
                            .fw-medium Pending
                                .fw-medium.fs-2 #{formatMoney(pendingClaimAmt)}

                        .col-sm-6
                            .fw-medium Completed
                                .fw-medium.fs-2 #{formatMoney(completedClaimAmt)}
            p.mt-3 You can submit a claim through the Expenses page.
            .container.mt-5.claim-container
                if claims.length < 1
                    h1.fw-bold.text-center You haven't made any claims.
                    p.mt-2.text-center Select multiple expenses to create one.
                else
                    .row
                        for claim in claims
                            - let expenses_short = claim.expenses.slice(0, 5)
                            .col-sm-12.col-lg-6.col-xl-4.mb-4(id=`claim-${claim.id}`)
                                .card.expense-card.p-2
                                    .d-flex.flex-column.expense-claim-card-contents
                                        .row.m-2
                                            .col.d-flex.justify-content-between
                                                .text-start.card-identifier.flex-grow-1
                                                    span.card-created-date.expense-date(data-iso=claim.submittedAt.toISOString()) #{claim.submittedAt.toUTCString()}
                                                .text-end.card-amount.expense-amount(data-money=formatMoney(claim.totalAmountAfterOffset, true)) #{formatMoney(claim.totalAmountAfterOffset)}
                                        .row.m-2
                                            .col-6
                                                .card-entity-name Items
                                                .card-entity-value #{claim.expenses.length}
                                            .col-6
                                                .card-entity-name Status
                                                if claim.status === "PENDING"
                                                    .claim-status-badge.claim-pending.rounded-pill Pending
                                                else if claim.status === "COMPLETE"
                                                    .claim-status-badge.claim-completed.rounded-pill Completed
                                                else
                                                    .claim-status-badge.claim-unknown.rounded-pill Unknown
                                        .row.m-2.claim-expense-list-container
                                            each expense in expenses_short
                                                .claim-expense-item
                                                    .claim-expense-properties
                                                        .claim-expense-category #{expense.category.name}
                                                        if expense.description
                                                            .claim-expense-description #{expense.description}
                                                    .claim-expense-amount #{formatMoney(expense.amount)}
                                            if claim.expenses.length > 5
                                                .plus-one-more +#{claim.expenses.length - 5} more...
                                            if claim.claimOffset > 0
                                                .claim-expense-item.mt-2
                                                    .claim-expense-properties
                                                        .claim-expense-category Claim Offset
                                                    .claim-expense-amount - #{formatMoney(claim.claimOffset)}



                                        .row.m-2
                                            .d-flex.gap-2
                                                button.btn.btn-outline-primary.action-button(data-action="expand", data-claim-id=claim.id) Expand
                                                button.btn.btn-outline-danger.action-button(data-action="cancel", data-claim-id=claim.id) Cancel
                                                button.btn.btn-outline-primary.action-button(data-action="share", data-claim-id=claim.id)
                                                    i.bi-share
    script(src="/assets/javascripts/claims.js")