extends layout

block head
    link(rel="stylesheet" href="/assets/stylesheets/expenses.css")
    script(src="https://unpkg.com/vue@3/dist/vue.global.js")
    script(src="/assets/javascripts/checkMime.js")
    script(src="https://unpkg.com/currency.js@~2.0.0/dist/currency.min.js")
    script(src="/assets/javascripts/data-iso.js")

block content
    #app
        .modal.fade.modal-lg#createExpenseModal(tabindex='-1')
            .modal-dialog
                .modal-content
                    form(action="/expense/new", method="post", id="expense-form")
                        .modal-header
                            h5.modal-title Add new expense
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            .row
                                div
                                    .alert.alert-danger.text-center#createExpenseAlert(style="display: none", role='alert') A simple warning
                            .row.mb-3
                                label(for='expense_amt', class='form-label') Expense amount
                                .input-group.input-group-lg
                                    span.input-group-text $
                                    input(type='number', class='form-control', id='expense_amt', name='expense_amt', aria-label='Expense amount', step='0.01', placeholder='0.00', min='0.01', required='')

                            .row.mb-3.row-gap-3
                                .col-12.col-lg-6
                                    label(for='category', class='form-label') Category
                                    select(class='form-select', aria-label='Category', name='category', id='category', required='')
                                        option(value="", disabled="", selected="") Select one
                                        each category in categories
                                            option(value=category.id) #{category.name}
                                .col-12.col-lg-6
                                    label(for='spent_dt', class='form-label') Spent on
                                    input(type='datetime-local', class='form-control', id='spent_dt', name='spent_dt', aria-label='Spent on', required='')
                            .row.mb-3
                                .col
                                    label(for='description', class='form-label') Description
                                    input(type='text', class='form-control', placeholder='Explain your expense briefly', id='description', name='description', aria-label='First name')
                            .d-grid.gap-2.d-md-flex.justify-content-md-end.mt-2
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                                button.btn.btn-primary(type='submit')
                                    span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                    | Submit
        .modal.fade.modal-lg.createClaimModal#createClaimModal(tabindex='-1')
            .modal-dialog
                .modal-content
                    form#createClaimForm()
                        .modal-header
                            h5.modal-title Create new claim
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            .row
                                div
                                    .alert.alert-danger.text-center#createClaimAlert(style="display: none", role='alert')
                            .row.mb-5
                                label(for='claim_offset_amt', class='form-label') Offset claim?
                                .input-group.input-group-lg
                                    span.input-group-text - $
                                    input(type='number', class='form-control', id='claim_offset_amt', name='claim_offset_amt', aria-label='Claim Offset Amount', step='0.01', placeholder='0.00', min='0.00', value='0.00', v-model.number="offset")

                            .row.mb-3.claim-expense-entries
                            .row.mb-3.claim-calculation
                                .d-flex.justify-content-end.my-2
                                    div(v-if="offset <= 0") Total
                                    div(v-else="") Subtotal
                                    .claim-expense-amount.claim-total $0.00
                                .justify-content-end.my-2(:class="{'d-flex': offset > 0}", v-show="offset > 0")
                                    div Claim Offset
                                    .claim-expense-amount
                                        span.me-2 -
                                        span.offset-amt $0.00
                                .justify-content-end.my-2(:class="{'d-flex': offset > 0}", v-show="offset > 0")
                                    div Grand Total
                                    .claim-expense-amount.claim-grandtotal $1.23

                            .d-grid.gap-2.d-md-flex.justify-content-md-end.mt-2
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                                button.btn.btn-primary(type='submit')
                                    span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                    | Submit
        .modal.fade.modal-lg#manageExpenseAttachmentsModal(tabindex='-1')
            .modal-dialog
                .modal-content
                    form(action="/expense/attachments", method="post")
                        .modal-header
                            div
                                .d-flex.align-items-baseline.gap-2
                                    h5.modal-title Add Attachments
                                    div.text-body-secondary Invoices, receipts, etc
                                div.text-muted(id="manageExpenseAttachmentsExpenseDetails", style="font-size: 0.8rem") Transport &middot; Grab for mummy &middot; $19.23
                        .modal-body
                            p.text-body-secondary.text-center Drag and drop files or click to select. You can remove any files before uploading.
                            .upload-prompt#expense-attachment-upload(style="height: 10rem")
                                h1.text-muted-foreground
                                    i.bi.bi-upload
                                div.fw-medium.text-muted-foreground Drag and drop files here
                                div.text-muted-foreground or click to select files
                            input#expense-attachment-file-input(type="file" style="display: none" accept=".jpg,.jpeg,.png,.pdf", multiple='')
                            // File items UI will go here
                            .file-display#expense-attachments-display(style="gap: 2px;")
                                .file-item
                                    .file-details
                                        i.bi.bi-file-earmark.file-icon
                                        div
                                            p.file-name example.jpg
                                            p.file-size 1.2 MB
                                    button.btn-close(type='button' aria-label='Remove file')
                                .file-item
                                    .file-details
                                        i.bi.bi-file-earmark.file-icon
                                        .file-info
                                            p.file-name example.jpg
                                            p.file-size 1.2 MB
                                            .progress.progress-bar-container
                                                .progress-bar(role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
                                    button.btn-close(type='button', aria-label='Remove file')
                            div FYI when developing this page, I don't want the user to be able to dismiss the modal until the file has been uploaded. Done button should be disabled while file is uploaded, and close button should be disabled. Probably dhange the data-backdrop="static" to prevent it from being closed. And data-keyboard="false"
                            .d-grid.gap-2.d-md-flex.justify-content-md-end.mt-2
                                button.btn.btn-primary(type='button' data-bs-dismiss='modal') Done



        section.py-3
            .container.py-5
                .d-flex.flex-column.flex-md-row.align-items-center.justify-content-between.mb-4
                    .flex-grow-1
                        h1.fw-medium Expenses
                        .d-flex.mt-2.gap-5
                            .fw-medium(v-if="!showingCompletedExpenses") Unclaimed
                                .fw-medium.fs-2(id="unclaimed-amt", data-money=amounts.incomplete.format({
                                    separator: '',
                                    symbol: ''
                                })) #{amounts.incomplete.format()}
                            .fw-medium(v-if="!showingCompletedExpenses") Claim pending
                                .fw-medium.fs-2(data-money=amounts.pending.format({
                                    separator: '',
                                    symbol: ''
                                })) #{amounts.pending.format()}
                            .fw-medium(v-if="showingCompletedExpenses") Claimed
                                .fw-medium.fs-2(data-money=amounts.completed.format({
                                    separator: '',
                                    symbol: ''
                                })) #{amounts.completed.format()}

                    .d-flex.align-items-center.gap-2.pt-3
                        button.btn.btn-primary.rounded-pill(data-bs-toggle="modal", data-bs-target="#createExpenseModal") New Expense
                        button.btn.btn-outline-primary.rounded-pill#make-claim(:disabled="selectedExpenses.length > 0 ? undefined: true") Make Claim
                .mt-3
                    nav.nav.nav-pills(style='display: inline-flex')
                        .nav-link.rounded-pill.px-2.py-1.fs-6.clickable-pill(:class="{ active: !showingCompletedExpenses }", @click="showingCompletedExpenses=false") Unclaimed
                        .nav-link.rounded-pill.px-2.py-1.fs-6.clickable-pill(:class="{ active: showingCompletedExpenses }", @click="showingCompletedExpenses=true") Claimed
                p.mt-3 Select an expense by clicking on it, to submit a claim.
                .container.mt-5.claim-container#incompleteExpenses(v-show="!showingCompletedExpenses")
                    if incompleteExpenses.length === 0
                        .no-claims
                            h1.fw-bold.text-center This section's quite empty...
                            p.mt-2.text-center Click "New Expense" above to track your first expense!
                    .row#expenses-section
                        each expense in incompleteExpenses
                            include components/expense-card.pug
                .container.mt-5.claim-container#completedExpenses(v-show="showingCompletedExpenses")
                    if completedExpenses.length === 0
                        .no-claims
                            h1.fw-bold.text-center Nothing to see here ...
                            p.mt-2.text-center Expenses linked to complete claims will show here.
                    .row#completed-expenses-section
                        each expense in completedExpenses
                            h1 Ensure expenses here can't be checked.
                            include components/expense-card.pug

    script(src="/assets/javascripts/expenses.js")
    script
        | var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        | var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        |    return new bootstrap.Tooltip(tooltipTriggerEl)
        |})
