extends layout

block content
    section.py-5
        .container.py-5
            .row.mb-4.mb-lg-5
                .col-md-8.col-sl-6.text-center.mx-auto
                    p.fw-bold.text-success.mb-2 Signup for EasyClaim
                    h2.fw-bold Start tracking your expenses, for easy claiming
            .row.d-flex.justify-content-center
                .col-md-7.col-xl-5.col-xxl-4
                    .card.p-4
                        .card-body.text-center.d-flex.flex-column.align-items-center
                            .d-flex.justify-content-center.p-4.bg-primary.shadow.bs-icon.mb-4.text-white.fs-1(style="width: 80px; height: 80px;border-radius: 50px")
                                svg.bi.bi-person-add(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4')
                                    path(d='M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z')

                            if register_error
                                .alert.alert-danger
                                    div !{register_error}
                            form.text-lg-start.needs-validation#signup-form(method='post', novalidate='')
                                input(type="hidden", name="redirect", id="redirect", value=values.redirect)
                                div.mb-3
                                    input.form-control(type="name", name="name", id="name", placeholder="Name", required='', maxlength=50, value=values.name || '').rounded-3
                                    #nameHelpBlock.form-text People who receive your claim will see this name.
                                div.mb-3
                                    input.form-control(type="email", name="email", id="email", placeholder="Email", required='', maxlength=255, value=values.email || '').rounded-3
                                    .invalid-feedback Please enter a valid email.
                                    #emailHelpBlock.form-text You will use this to sign in.
                                div.mb-3
                                    input.form-control(type="password", name="password", id="password", placeholder="Password", required='', minlength=6, maxlength=20)
                                    .invalid-feedback Password is required.
                                    .password-requirements.text-lg-start(id="password-requirements-display", style='display: none;')
                                        .requirement.d-flex.align-items-center(id="length").text-danger
                                            i.bi.bi-x.me-2
                                            span At least 6 characters
                                        .requirement.d-flex.align-items-center(id="uppercase").text-danger
                                            i.bi.bi-x.me-2
                                            span At least one uppercase letter
                                        .requirement.d-flex.align-items-center(id="lowercase").text-danger
                                            i.bi.bi-x.me-2
                                            span At least one lowercase letter
                                        .requirement.d-flex.align-items-center(id="number").text-danger
                                            i.bi.bi-x.me-2
                                            span At least one number

                                div.mb-3
                                    input.form-control(type="password", name="confirmpassword", id="confirmpassword", placeholder="Confirm Password", required='', minlength=6, maxlength=20)
                                    .invalid-feedback Passwords should match.
                                    .password-requirements.text-lg-start(id="confirmpassword-requirements-display", style="display: none")
                                        .requirement.d-flex.align-items-center(id="passwordMatches", style='display: none').text-danger
                                            i.bi.bi-x.me-2
                                            span Passwords must match!
                                div reCaptcha goes here
                                div.mb-3
                                    button.rounded-pill.btn.btn-primary.shadow.d-block.w-100#submit(type="submit")
                                        span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                        | Sign up
                                span.mb-2.text-body-secondary Already have an account?
                                - var loginUrl = '/accounts/login'
                                if values.redirect
                                    - loginUrl += '?redirect=' + encodeURIComponent(values.redirect)
                                a.ms-2.text-body-secondary(href=loginUrl) Log in
    script(src="/assets/javascripts/signup.js")




