extends ../simplified_layout

block head
    script(src="https://js.hcaptcha.com/1/api.js", async, defer)
    script(src="/assets/javascripts/forgotpassword.js")
    script(src="/assets/javascripts/passwordValidation.js")

block content
    .container.mx-auto(style="max-width: 768px; margin: 0 auto;")
        main.flex-grow-1
            section.py-5.py-md-7.py-lg-8.py-xl-12
                .circle-background.translucent-blue.mx-auto
                    i.bi.bi-key
                case step
                    when "request_otp"
                        h1.display-6.fw-bold.mb-4.text-center Reset Your Password
                        if error
                            .alert.alert-danger.mb-3
                                div !{error}
                        p Enter yor account's email and EasyClaim will send you a password reset link.
                        form(method="POST", action="/accounts/forgotpassword")
                            .mb-3
                                label.form-label.fw-semibold(for="email") Email
                                input.mb-3.form-control(id="email" name="email", type="email", placeholder="Your email", required="")
                            div.mb-3
                                .h-captcha(data-sitekey=hcaptcha_sitekey)
                            button.btn.btn-primary.d-block.w-100#submit(type="submit")
                                span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                | Submit
                    when "verify_otp"
                        h1.display-6.fw-bold.mb-4.text-center Email sent
                        if error
                            .alert.alert-danger.mb-3
                                div !{error}
                        p If <strong>#{requested_email}</strong> is registered as an account on EasyClaim, an email containing a One-Time PIN (OTP) will be sent. Enter the OTP below:
                        form.otp-form.mb-3(method="POST", action="/accounts/forgotpassword/verify", data-cd=otp_cooldown ? otp_cooldown.toString() : undefined)
                            .mb-3
                                input.form-control(type="number" id="otp" name="otp" placeholder="Enter your OTP here" required pattern="\d*" maxlength=6)
                                .invalid-feedback You did not provide a valid OTP. Please check your email and enter the OTP provided.
                            button.btn.btn-primary.d-block.w-100#otp_submit(type="submit")
                                span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                | Submit
                        form.request-otp-again-form(method="POST", action="/accounts/forgotpassword")
                            input(type="hidden", name="email", id="email", value=requested_email)
                            button.btn.btn-secondary.d-block.w-100.h-captcha#otp_request(data-sitekey=hcaptcha_sitekey, data-size="invisible", data-callback="onRequestOTPAgainSubmit")
                                span.spinner-border.spinner-border-sm.meu-1(aria-hidden='', style="display: none")
                                | Request new OTP
                                span.ms-1.otp-cooldown-countdown
                            script.
                                function onRequestOTPAgainSubmit() {
                                    document.querySelector(".request-otp-again-form").submit();
                                }

                    when "reset_password"
                        h1.display-6.fw-bold.mb-4.text-center Set your new password
                        if error
                            .alert.alert-danger.mb-3
                                div !{error}
                        p Enter a new password for <strong>#{requested_email}</strong>.
                        form.password-form.mb-3(method="POST", action="/accounts/forgotpassword/reset")
                            .mb-3
                                label.form-label(for="password") New password
                                input.form-control(type="password" id="password" name="password" placeholder="" required="", minlength=6, maxlength=20)
                                .password-requirements.text-lg-start(id="password-requirements-display", style='display: none;')
                                    .requirement.d-flex.align-items-center(id="length").text-danger
                                        i.bi.bi-x.me-2
                                        span At least 6 characters
                                    .requirement.d-flex.align-items-center(id="uppercase").text-danger
                                        i.bi.bi-x.me-2
                                        span At least one uppercase letter
                                    .requirement.d-flex.align-items-center(id="lowercase").text-danger
                                        i.bi.bi-x.me-2
                                        span At least one lowercase letter
                                    .requirement.d-flex.align-items-center(id="number").text-danger
                                        i.bi.bi-x.me-2
                                        span At least one number
                            .mb-3
                                label.form-label(for="confirmpassword") Confirm new passowrd
                                input.form-control(type="password" id="confirmpassword" name="confirmpassword" placeholder="" required="", minlength=6, maxlength=20)
                                .password-requirements.text-lg-start(id="confirmpassword-requirements-display", style="display: none")
                                    .requirement.d-flex.align-items-center(id="passwordMatches", style='display: none').text-danger
                                        i.bi.bi-x.me-2
                                        span Passwords must match!
                            button.btn.btn-primary.d-block.w-100#otp_submit(type="submit")
                                span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                | Submit
                    when "complete"
                        h1.display-6.fw-bold.mb-4.text-center Password reset complete
                        p You may now login with your new password.
                        a.btn.btn-primary(href="/accounts/login") Back to login



