extends ../layout

block content
    section.py-5
        .container.py-5
            .row.mb-4.mb-lg-5
                .col-md-8.col-sl-6.text-center.mx-auto
                    p.fw-bold.text-success.mb-2 Login to #{app.name}
                    h2.fw-bold Welcome Back
            .row.d-flex.justify-content-center
                .col-12.col-sm-10.col-md-7.col-xl-5.col-xxl-4
                    .card.p-4
                        .card-body.text-center
                            .circle-background.translucent-blue.mx-auto.mb-3
                                i.bi.bi-person
                            if login_error
                                .alert.alert-danger
                                    div !{login_error}
                            form(method='post', action='/accounts/login')
                                input(type="hidden", name="redirect", id="redirect", value=values.redirect)
                                div.mb-3.w-100
                                    input.rounded-4.form-control(type="email", name="email", placeholder="Email", value=values.email || '', required='')
                                div.mb-3.w-100
                                    input.rounded-4.form-control(type="password", name="password", placeholder="Password", required='')
                                div.mb-3.w-100
                                    button.rounded-pill.btn.btn-primary.shadow.d-block.w-100(id="submit", type="submit")
                                        span.spinner-border.spinner-border-sm.me-1(aria-hidden='', style="display: none")
                                        | Log in
                            p.mb-2.text-body-secondary Forgot your password?
                                a.ms-2.text-body-secondary(href='/accounts/forgotpassword') Reset it
                            p.text-body-secondary New to #{app.name}?
                                - var signupUrl = '/accounts/signup'
                                if values.redirect
                                    - signupUrl += '?redirect=' + encodeURIComponent(values.redirect)
                                a.ms-2.text-body-secondary(href=signupUrl) Sign up






