
.col-sm-12.col-md-6.col-xl-4.mb-4(id=`expense-${expense.id}`)
    .card.expense-card.p-2
        if !(expense.claimId || expense.claimComplete)
            input(type="checkbox", id=`ep-checkbox-${expense.id}`, name="select-expense", value=expense.id, v-model="selectedExpenses")
        .d-flex.flex-column.expense-card-contents
            .row.m-2
                .col.d-flex.justify-content-between
                    .text-start.card-identifier.flex-grow-1
                        span.card-created-date.expense-date(data-iso=expense.spentOn.toISOString()) #{expense.spentOn.toUTCString()}
                    .text-end.card-amount.expense-amount(data-money=formatMoney(expense.amount, true)) #{formatMoney(expense.amount)}
            .row.m-2
                .col-6
                    .card-entity-name Claim
                    .card-entity-value
                        i(class=`bi bi-${expense.category.icon}`)
                        .inline.expense-category-name #{expense.category.name}
                    if expense.description
                        .card-entity-desc.expense-description #{expense.description}
                .col-6
                    .card-entity-name Attachments
                    .card-entity-desc Tap to open
                    .d-flex.flex-wrap.gap-2.mt-2
                        .rounded-3.expense-card-attachment(style="width: 50px; height: 50px; outline: grey solid 2px;")
                            img(style="width: 100%; height: 100%; object-fit: cover; overflow: hidden;", src="https://ocr.space/Content/Images/receipt-ocr-original.webp")
                        .rounded-3(style="width: 50px; height: 50px; outline: grey solid 2px;")
                            img(style="width: 100%; height: 100%; object-fit: cover; overflow: hidden;", src="https://ocr.space/Content/Images/receipt-ocr-original.webp")
                        .rounded-3(style="width: 50px; height: 50px; outline: grey solid 2px;")
                            img(style="width: 100%; height: 100%; object-fit: cover; overflow: hidden;", src="https://ocr.space/Content/Images/receipt-ocr-original.webp")
            .row.m-2
                .d-flex.gap-2.align-items-center
                    if (expense.claimId || expense.claimComplete)
                        span.d-inline-block(tabindex="0", data-bs-toggle="tooltip" data-bs-title="This expense is part of a claim. To make changes to it, cancel the claim first.")
                            button.btn.btn-outline-primary.rounded-pill.action-button(disabled="")
                                i.bi.bi-pencil-fill
                        span.d-inline-block(tabindex="0", data-bs-toggle="tooltip" data-bs-title="This expense is part of a claim. To make changes to it, cancel the claim first.")
                            button.btn.btn-outline-secondary.rounded-pill.action-button(disabled="")
                                i.bi.bi-paperclip
                        span.d-inline-block(tabindex="0", data-bs-toggle="tooltip" data-bs-title="This expense is part of a claim. To make changes to it, cancel the claim first.")
                            button.btn.btn-outline-danger.rounded-pill.action-button(disabled="")
                                i.bi.bi-trash3-fill
                        if expense.claimComplete
                            .claim-status-badge.claim-complete.rounded-pill Completed
                        else
                            .claim-status-badge.claim-pending.rounded-pill In a claim

                    else
                        button.btn.btn-outline-primary.rounded-pill.action-button(data-action='edit', data-expense-id=expense.id)
                            i.bi.bi-pencil-fill
                        button.btn.btn-outline-secondary.rounded-pill.action-button(data-action='attachments', data-expense-id=expense.id)
                            i.bi.bi-paperclip
                        button.btn.btn-outline-danger.rounded-pill.action-button(data-action='delete', data-expense-id=expense.id)
                            i.bi.bi-trash3-fill


